<div class="leftmenu">
  <ul>
    <li class="temperature" [ngClass]="{active: isTemperaturePage}">
      <a [routerLink]="['Temperature']">Temperature</a>
    </li>
    <li class="lights">
      <a href="#">Lights</a>
    </li>
    <li class="music">
      <a href="#">Music</a>
    </li>
    <li class="seperator"></li>
    <li class="energy">
      <a href="#">Energy</a>
    </li>
    <li class="store">
      <a href="#">Store</a>
    </li>
    <li class="service">
      <a href="#">Service</a>
    </li>
  </ul>
</div>
