<div id="error" [hidden]="!isError.status">
  <span class="title">{{isError.mode}}</span>
  <span class="mess">{{isError.mess}}</span>
</div>

<div class="outsideTemperature">
  outside <b class="active">{{outsideTemperature}}&deg;</b>
</div>

<div id="circle" class="controlTemperature">
  <span class="blockCurTemp" [ngClass]="{auto: isAutoTemperature}" [ngStyle]="{transform: blockCurTemp.transform}"></span>
  <div class="linecircle">
    <div class="backgroundCenter">
      <div class="blockInformation">
        <span class="signTemperature">{{signTemperature}}</span>
        <span class="valueTemperature">{{valueTemperature}}</span>
        <span class="signDegreeT">&deg;</span>
        <span class="signDegreeB">{{signDegree}}</span>
      </div>
    </div>
    <span class="blockCold"></span>
    <span class="blockHot"></span>
  </div>

  <div class="buttonChangeTemperature">
    <div class="group">
      <span class="plus" (click)="onPlusTemperature()"></span>
      <span class="minus" (click)="onMinusTemperature()"></span>
    </div>
    <div class="autoTemperature" [ngClass]="{active: isAutoTemperature}" (click)="onChangeAutoTemperature()">AUTO</div>
  </div>

</div>

<div class="selectRoom">
  <div class="container" [ngClass]="{'animated': onPanelOpts.animation}" [ngStyle]="{'margin-top': onPanelOpts.topPX}" (touchend)="onMouseEvent($event)" (touchstart)="onMouseEvent($event)" (touchmove)="onMouseEvent($event)">
    <div class="content">
      <div class="header">
        Selection room: <b>{{chosenRoom}}</b>
      </div>
    </div>
  </div>
</div>
