<div class="outsideTemperature">
  outside <b class="active">{{outsideTemperature}}&deg;</b>
</div>

<div class="controlTemperature">
  <div class="linecircle">
    <div class="backgroundCenter">
      <div class="blockInformation">
        <span class="signTemperature">{{signTemperature}}</span>
        <span class="valueTemperature">{{valueTemperature}}</span>
        <span class="signDegreeT">&deg;</span>
        <span class="signDegreeB">{{signDegree}}</span>
      </div>
    </div>
    <span class="blockCold"></span>
    <span class="blockHot"></span>
  </div>
</div>

<div class="selectionRoom">
  <b class="active">{{chosenRoom}}</b>
  <div class="buttonSelection">Choose</div>
</div>
