@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #554a64;
  background: #040208;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, #070619 0%, #040208 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #070619 0%, #040208 100%);
  background: -o-radial-gradient(center, ellipse cover, #070619 0%, #040208 100%);
  background: -ms-radial-gradient(center, ellipse cover, #070619 0%, #040208 100%);
  background: radial-gradient(center, ellipse cover, #070619 0%, #040208 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #554a64;
  text-decoration: none;
}
.active, li.active > a {
  color: white;
  font-weight: 400;
}
ul, li {
  list-style: none;
}
.clearfix {
  clear: both;
}

#error {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(183,156,47,0.95);
  z-index: 100;
  color: black;
  padding: 50px;
}
#error > .title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  display: block;
}

app-content {
  width: 800px;
  height: 480px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -240px -400px;;
}

header {
  text-align: center;
  width: 100%;
  padding: 25px 0 10px 0;
}
header > .logo {
  font-size: 20px;
}

.leftmenu {
  width: 200px;
  float: left;
}
.leftmenu > ul > li {
  padding: 10px 20px;
  position: relative;
}
.leftmenu > ul > li > a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.leftmenu li:before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: -25px;
  opacity: 0.2;
}
.leftmenu li.active:before {
  opacity: 1;
}
.leftmenu li.temperature:before {
  background: url('../img/themometer.svg') no-repeat;
  background-size: 100%;
}
.leftmenu li.lights:before {
  background: url('../img/lights.svg') no-repeat;
  background-size: 100%;
}
.leftmenu li.music:before {
  background: url('../img/music.svg') no-repeat;
  background-size: 90%;
}
.leftmenu li.energy:before {
  background: url('../img/energy.svg') no-repeat;
  background-size: 90%;
}
.leftmenu li.store:before {
  background: url('../img/store.svg') no-repeat;
  background-size: 90%;
}
.leftmenu li.service:before {
  background: url('../img/service.svg') no-repeat;
  background-size: 90%;
}

main > .content {
  width: 550px;
  padding: 25px 25px 0 25px;
  float: left;
}
main > .content.homePage {
  width: 750px;
}

.outsideTemperature {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  float: right;
  margin-top: -25px;
}
.outsideTemperature > .active {
  font-size: 18px;
  margin: 5px;
  font-weight: 600;
}
.controlTemperature {
  width: 300px;
  height: 300px;
  background: rgba(22,22,42,0.8);
  border-radius: 50%;
  margin-left: 40px;
  position: relative;
}
.controlTemperature .linecircle {
  background: #262339;
  background: radial-gradient(center, #262339 80%, #16172a 90%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  top: 25px;
  left: 25px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.controlTemperature .linecircle > .blockCold {
  background: #07faff;
  box-shadow: 0 0 40px #07faff;
  height: 23px;
  width: 10px;
  position: absolute;
  right: 78px;
  top: 9px;
  transform: rotate(23deg);
}
.controlTemperature .linecircle > .blockCold:before {
  content: 'COLD';
  display: block;
  width: 10px;
  height: 10px;
  color: #4c4961;
  font-size: 10px;
  font-weight: bold;
  top: -18px;
  right: 5px;
  position: absolute;
}
.controlTemperature .linecircle > .blockHot {
  background: #ff0583;
  box-shadow: 0 0 40px #ff0583;
  height: 23px;
  width: 10px;
  position: absolute;
  right: 33px;
  top: 185px;
  transform: rotate(-51deg);
}
.controlTemperature .linecircle > .blockHot:before {
  content: 'HOT';
  display: block;
  width: 10px;
  height: 10px;
  color: #4c4961;
  font-size: 10px;
  font-weight: bold;
  top: 30px;
  right: 5px;
  position: absolute;
}
.controlTemperature .blockCurTemp {
  background: #ffffff;
  box-shadow: 0 0 40px #ffffff;
  height: 10px;
  width: 55%;
  position: absolute;
  top: 48.5%;
  left: 50%;
  transition: all 2s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -ms-transform-origin: center left;
  -o-transform-origin: center left;
  transform-origin: center left;
}
.controlTemperature .blockCurTemp.auto {
  background: #00e800;
  box-shadow: 0 0 40px #00e800;
}
.controlTemperature .backgroundCenter {
  background: #191b2b;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);
}
.controlTemperature .blockInformation {
  position: relative;
  width: 130px;
  margin: 55px 35px;
}
.controlTemperature .blockInformation > .signTemperature {
  font-size: 40px;
  font-weight: 100;
  left: 0px;
  display: block;
  position: absolute;
  top: 33px;
}
.controlTemperature .blockInformation > .signDegreeT {
  font-size: 50px;
  font-weight: 100;
  right: 4px;
  display: block;
  position: absolute;
  top: 5px;
}
.controlTemperature .blockInformation > .signDegreeB {
  font-size: 25px;
  font-weight: 400;
  right: 5px;
  display: block;
  position: absolute;
  top: 44px;
}
.controlTemperature .blockInformation > .valueTemperature {
  font-size: 70px;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #ffffff;
  text-align: center;
  width: 80px;
  display: block;
  margin-left: 27px;
}

.buttonChangeTemperature {
  position: absolute;
  right: -200px;
  top: 20px;
}
.buttonChangeTemperature > .group {
  background: rgba(22,22,42,0.8);
  border-radius: 5px;
}
.buttonChangeTemperature > .group > * {
  width: 150px;
  height: 95px;
  display: block;
  cursor: pointer;
}
.buttonChangeTemperature > .group > *:last-of-type {
  border-top: 1px solid #251935;
}
.buttonChangeTemperature > .group > .plus:before {
  content: '+';
  position: absolute;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  width: 100%;
  line-height: 95px;
}
.buttonChangeTemperature > .group > .minus:before {
  content: '-';
  position: absolute;
  font-weight: 100;
  font-size: 100px;
  text-align: center;
  width: 100%;
  line-height: 95px;
}
.buttonChangeTemperature > .autoTemperature {
  margin-top: 20px;
  background: rgba(22,22,42,0.8);
  border-radius: 5px;
  height: 60px;
  position: relative;
  text-align: right;
  line-height: 60px;
  padding-right: 35px;
  cursor: pointer;
}
.buttonChangeTemperature > .autoTemperature:before {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  left: 30px;
  border-radius: 2px;
  width: 15px;
  height: 5px;
  background: red;
  box-shadow: 0 0 15px red;
  transition: all .3s;
}
.buttonChangeTemperature > .autoTemperature.active:before {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  left: 30px;
  border-radius: 2px;
  width: 15px;
  height: 5px;
  background: #00e800;
  box-shadow: 0 0 15px #00e800;
}

.selectRoom {
  width: 100%;
  padding: 48px 0;
  position: relative;
}
.selectRoom > .container.animated {
  transition: all .3s;
}
.selectRoom > .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 41px;
  overflow: hidden;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: rgba(25,27,43,0.99);
}
.selectRoom > .container > .content > .header {
  display: block;
  position: absolute;
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  text-align: left;
  width: 510px;
  font-size: 17px;
  border-bottom: 1px solid rgba(67, 74, 100, 0.2);
  cursor: move;
}
.selectRoom > .container > .content > .header:before {
  content: '';
  display: block;
  position: absolute;
  left: 250px;
  top: 25px;
  width: 40px;
  height: 7px;
  border-radius: 10px;
  background: #434a64;
}
.selectRoom > .container > .content > .header > b {
  color: white;
  font-weight: 400;
  font-size: 20px;
  float: right;
}

.buttonSelection {
  float: right;
  border: 1px solid #554a64;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.buttonSelection:hover, .buttonSelection:active {
  background: #554a64;
  color: white;
}
.logo .buttonSelection {
  font-size: 15px;
  margin-top: -3px;
}
